@media (min-width: 768px), print {

.logo {position: relative;left: 50%;transform: translateX(-50%);}
.home-left-categories {float: left;padding: 40px;}
.top-category {font-size:22px}
.home-left-categories ul li {list-style:none;}
.home-left-categories ul {padding:0px;}
.navigation {background:none;border-bottom:1px solid #a7a7a7 }
.nav-sections {background:none;}
.home-paragraph p {line-height:30px;font-size: 18px;}
.page-header {height:225px;}
.page-header .panel.wrapper {background:#1146a2; color:#fff;border-bottom:none;}
.page-header .panel.wrapper a {color:#fff;}
.fotorama__stage__frame .fotorama__img {top:35%}
.home-paragraph {margin-top: 50px;background: #f3f3f3;padding: 30px;}
.home-paragraph h2 {font-weight: bold;margin: 0px 0px 10px 0px;color: #1146a2;}

}