body {background: url(/images/background.jpg) repeat-x #75c3f1;}
h1 {font-size:26px;font-weight:400}
.catalog-category-view .columns .column.main {padding-top:0px}
.page-main, .header.content, .footer.content {background:#fff;}
.page-main {margin-top:-11px;}
.navigation {background:#1146a2;border-bottom:none;}
.navigation .level0>.level-top {color:#fff;}
.footer.content {margin-top:0px;padding:0px;}
.footer.content {border-top:none;}
.action.primary {border:1px solid #96d1ff; background:#fff; color:#333}
.breadcrumbs {margin: 0px auto 11px auto;background: #fff;}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], textarea {padding:25px 13px 25px 13px; border: 2px solid #e2e2e2; border-radius: 5px; outline:none;}
.header.panel>.header.links>li.welcome { font-weight:bold;color:#1146a2}
.header.panel>.header.links>li a {font-weight:normal}
span.price:after {content: ' each';}
.page-header .header.panel {border-top: 9px #4497dd solid; background:#fff;}
.columns .column.main {padding-top:25px;}
.block.newsletter input {padding: 11px 13px 13px 35px;}
.block.newsletter {margin-top: 67px;padding: 28px;}
.breadcrumbs .items {margin-top:20px;}
#search_mini_form input {padding:10px;}
.header.content {padding: 30px 30px 20px;}
.stock.available {background: #4497dd;padding: 20px;}
.stock.available a {color:#fff;}
.footer h2, .footer a, .footer {color: #fff;}
.footer h2 {border-bottom:solid #fff 1px;padding-bottom: 15px;font-size: 20px;font-weight: 400;text-transform: uppercase;}
.footer .copyright, .footer .bugs {background: #98b7ec;padding: 20px;text-align: center;font-size: 15px;}
.page-title-wrapper h1 {text-align:center}


@media (min-width: 768px), print {
.footer.content .links {text-align:center}
.home-left-categories {float: left;padding: 40px;}
.top-category {font-size:22px}
.home-left-categories ul li {list-style:none;}
.home-left-categories ul {padding:0px;}
.nav-sections {background:none; margin-bottom:0px}
.home-paragraph p {line-height:30px;font-size: 15px;}
.page-header {height:225px;}
.page-header .panel.wrapper {color:#333;border-bottom:none;}
.page-header .panel.wrapper a {color:#333;}
.fotorama__stage__frame .fotorama__img {top:35%}
.home-paragraph {margin-top: 50px;padding: 30px;}
.home-paragraph h2 {font-weight: bold;margin: 0px 0px 10px 0px;color: #1146a2;}
.footer.content .links {padding: 5px 30px 0 15px;}
.navigation .level0.active>.level-top, .navigation .level0.has-active>.level-top {color:#fff; border-color:#aac8ec}
.page-title-wrapper {padding: 10px;margin: 20px 0px 20px 0px;}
.page-title-wrapper h1 {margin-bottom:0px;}
.footer.content {background:#1146a2}
.navigation .level0>.level-top {font-weight: normal;font-size: 14px;}
.cms-home .page-main {padding-left:0px; padding-right:0px}
.apptrian-subcategories-grid, .apptrian-subcategories-list {background:#f3f3f3}
.apptrian-subcategories-grid .apptrian-subcategories-category {box-shadow:0px 0px 10px 0px #d6d6d6;webkit-box-shadow:0px 0px 10px 0px #d6d6d6;background:#fff;border-radius:7px;}
.apptrian-subcategories-grid .apptrian-subcategories-category-name a {color:#000; font-weight:bold;}
.apptrian-subcategories-grid .apptrian-subcategories-category-name {padding:15px;text-transform: uppercase;}
.apptrian-subcategories-grid .apptrian-subcategories-category-image img {border-radius: 7px 7px 0px 0px;}
.page-products .products-grid .product-item {border: 1px solid #eee;padding: 16px;}
.product-item {text-align:center}

}