<?php

// @codingStandardsIgnoreFile
?>
<h1>CDN and Image Processing</h1>
<span>Serve your images at the fastest possible speed. We recommend the <a href="https://sirv.com/integration/magento" target="_blank" title="Sirv extension for Magento">Sirv extension for Magento</a>.</span> It will:<br/>
<br/>
<ul style="margin-left: 30px;">
    <li>Optimise your images smaller than any other Magento extension (with no quality loss).</li>
    <li>Serve your images faster than any other Magento extension (from a fast global CDN).</li>
    <li>Reduce the load on your Magento server.</li>
</ul>
Optimisation of such a high degree means your website can load up to 30% faster and images are up to 70% smaller. Furthermore, it typically improves Google search ranking and improves Google PageSpeed score by between 1% and 9%.<br/>
<br/>
Sirv allows 2GB free data transfer per month. Beyond that, paid plans start from $19/month for 20GB monthly transfer.<br/>
<br/>
<button onclick="javascript:window.open('https://sirv.com/download/magento/sirv-magento-2.zip');return false;" type="button" class="primary"><span>Download the Sirv extension for Magento 2</span></button><br/>
<br/>
<a href="https://my.sirv.com/#/signup" target="_blank" title="Create your free Sirv account">Create your free Sirv account</a> now or visit the <a href="https://sirv.com/" target="_blank" title="Sirv website">Sirv website</a> to learn more about this image hosting, optimisation and delivery service.
